.App {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.loading {
  animation: loading infinite 10s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

section {
  display: flex;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  padding: var(--default-font-size) 0;
  width: 65%;
}

.aside-container {
  background-color: #f2f2f2;
  flex: 1;
  padding: var(--default-font-size) 0;
  width: 35%;
}

.section-heading {
  align-items: center;
  display: flex;
  height: 80px;
  margin-bottom: var(--default-font-size);
  padding: 0 var(--default-font-size);
  text-align: left;
  width: 100%;
}

.sectionLogo {
  height: 40px;
  margin-right: var(--default-font-size);
  width: 40px;
}

h1 {
  font-size: 24px;
}

.no-results {
  flex: 1;
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 700px) {
  .App {
    padding-top: 0;
  }
}
