.comic-card {
    align-items: flex-start;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-basis: 45%;
    flex-wrap: wrap;
    font-family: var(--roboto);
    justify-content: space-between;
    margin: var(--default-font-size);
    padding: 10px;
}

.comic-image, 
.comic-desc-container {
    flex-basis: 50%;
}

.comic-image {
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    height: var(--image-size);
    margin-left: -25px;
    margin-top: -25px;
    width: var(--image-size);
}

.comic-desc-container {
    margin-top: -22px;
    padding-left: var(--default-font-size);
    text-align: left;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h4 {
    flex: 1;
    flex-basis: 100%;
    text-align: left;
}

p {
    color: var(--dark-gray);
    font-weight: 300;
    font-size: 16px;
}
