.related-comics {
    color: var(--dark-gray);
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
    font-family: var(--roboto);
    margin: 0;
    padding: 12px 0;
}

.related-comics li {
    flex-basis: 50%;
    font-weight: 300;
    font-size: var(--default-font-size);
    list-style: none;
    padding-right: var(--default-font-size);
    text-align: left;
}

h4 {
    color: var(--dark-gray);
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 18px;
    margin: var(--default-font-size) 0 0;
    padding: 0;
}

.no-link {
    background: transparent;
    border: none;
    color: var(--dark-gray);
    margin-top: 0;
    padding-left: 1.6em;
}

.no-link:hover {
    background: url(../assets/link-arrow.png) no-repeat left center;
    color: var(--red);
    text-decoration: underline;
}

.modal-content {
    display: flex;
}

.modal-content img {
    flex: 1;
}

.modal-description {
    display: flex;
    flex-direction: column;
    padding: var(--default-font-size);
}
